<link rel="stylesheet" href="../css/components.css">
<link rel="stylesheet" href="../css/global.css">

<footer class="footer">
    <div class="container-md">
        <div class="footer-main-wrapper">
            <div class="footer-content">
                <div class="footer-logo-wrapper">
                    <img src="../assets/icons/elan-logo.svg" alt="Elan logo">
                </div>
                <div class="footer-info-main">
                    <div class="footer-info">
                        <span class="footer-label">Location</span>
                        <span class="footer-text">Belgrade, Serbia</span>
                    </div>
                    <div class="footer-info">
                        <span class="footer-label">Contact</span>
                        <span class="footer-text">office@elanrealestate.com</span>
                        <span class="footer-text">+38160007711</span>
                    </div>
                </div>
            </div>
            <div class="footer-line"></div>
            <div class="all-rights">© 2025 ELAN. All rights reserved.</div>
        </div>
    </div>
</footer>