<header class="navbar">
    <div class="container-md">
        <nav class="navbar-wrapper">

            <a href="./index.html" class="navbar-logo" aria-label="ELAN Home">
                <img src="../assets/icons/elan-logo.svg" alt="ELAN">
            </a>

            <!-- DESKTOP NAVIGATION -->
            <div class="navbar-links">
                <a href="./index.html#property" class="navbar-link">PROPERTIES</a>

                <a href="./journal.html" class="navbar-link">JOURNAL</a>

                <a href="./about.html" class="navbar-link">ABOUT</a>

                <a href="./index.html#contact" class="navbar-link">CONTACT</a>
            </div>

            <!-- TABLET / MOBILE BUTTON -->
            <button
                class="menu-button"
                type="button"
                aria-label="Open menu"
                aria-expanded="false"
            >
                <span class="menu-line"></span>
                <span class="menu-line"></span>
            </button>

        </nav>
    </div>

    <!-- TABLET / MOBILE FULLSCREEN MENU -->
    <div class="mobile-menu">

        <div class="mobile-menu-content">

            <nav class="mobile-menu-links">
                <a href="./index.html#property">Properties</a>
                <a href="./journal.html">Journal</a>
                <a href="./about.html">About</a>
                <a href="./index.html#contact">Contact</a>
            </nav>

            <div class="mobile-menu-bottom">
                <span class="mobile-menu-line"></span>

                <a href="tel:+38160007711">
                    +38160007711
                </a>
            </div>

        </div>

    </div>
</header>

